<p-toast></p-toast>
<div class="form-register">
  <h1 class="has-text-centered title is-2 mt-6 has-text-info">
    Une Voie Une Croix
  </h1>
  <h2 class="has-text-centered title is-3 mt-3">Connexion</h2>
  <a [routerLink]="[registerUrl]">Pas encore de compte ?</a>
  <form [formGroup]="form">
    <div class="input-label">
      <label for="email" class="label">Email</label>
      <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input type="text" pInputText id="email" formControlName="email" />
      </span>
    </div>
    <div class="input-label">
      <label for="password" class="label">Mot de passe</label>
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input
          type="password"
          pInputText
          id="password"
          formControlName="password" />
      </span>
    </div>
    <div class="is-flex mt-5 is-justify-content-space-between">
      <button
        pButton
        type="button"
        label="Annuler"
        class="p-button-secondary mr-2"
        [routerLink]="['']"></button>
      <p-button
        label="Connexion"
        (click)="submit()"
        [disabled]="form.invalid"></p-button>
    </div>
  </form>
</div>
