.input-label{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  margin: 0.5rem;
}
.p-inputtext.ng-touched.ng-invalid{
  border:  1px solid red;
}
.p-element.p-inputwrapper.ng-tns-c58-1.ng-pristine.ng-invalid.ng-star-inserted.ng-touched{
  border:  1px solid red;
  border-radius: 6px;
}
.form-register{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  & input {
    width: 100%;
  }
  & .p-element .p-multiselect-label-container{
    width: 100%;
  }
  .p-dropdown{
    width: 100%;
  }

  .p-inputnumber .p-component .p-inputnumber-buttons-stacked{
    width: 100%;
  }

.p-multiselect{
  width: 100%;
}


}



// Forms

.form-register{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  max-width: 500px;

  .wrapper-input{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .input-label{
      min-width: 100px;
      flex:0 1 calc(50% - 10px);
      margin: 5px;
    }
  }

  .input-label{
    flex:0 1 calc(100% - 10px);
    margin: 5px;

  }
}