<h1 class="has-text-centered title is-1 mt-6">Creer un compte</h1>
<form [formGroup]="form">
  <div class="box form-register">
    <div class="input-label">
      <label for="lastName" class="label">Nom</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          id="lastName"
          formControlName="lastName" />
      </span>
    </div>
    <div class="input-label">
      <label for="firstName" class="label">Prenom</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          id="firstName"
          formControlName="firstName" />
      </span>
    </div>
    <div class="input-label">
      <label for="email" class="label">Email</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" pInputText id="email" formControlName="email" />
      </span>
    </div>
    <div class="input-label">
      <label for="password" class="label">Password</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="password"
          pInputText
          id="password"
          formControlName="password" />
      </span>
    </div>
    <div class="input-label">
      <label for="birthday" class="label">Date de naissance</label>
      <p-calendar
        id="birthday"
        [style]="{ minWidth: '20rem' }"
        formControlName="birthday"></p-calendar>
    </div>
    <div class="is-flex mt-3 width-20 is-justify-content-space-between">
      <button
        pButton
        type="button"
        label="Annuler"
        class="p-button-secondary mr-2"
        [routerLink]="['']"></button>
      <p-button label="Valider" (click)="submit()"></p-button>
    </div>
  </div>
</form>
