<div class="site-table">
  <h1 class="title has-text-centered has-text-info">
    {{ 'site.titleSiteList' | translate }}
  </h1>
  <div class="input-label is-align-items-center mb-4">
    <!--  <label for="region" class="label">Trier par region</label>-->
    <p-dropdown
      [options]="regions"
      optionLabel="name"
      optionValue="id"
      placeholder=" {{ 'site.sortByRegion' | translate }}"
      (onChange)="filterWithRegion($event.value)"
      id="region"></p-dropdown>
  </div>
  <app-table-site
    [sites]="filteredSites"
    [options]="sitesOptions"></app-table-site>
</div>
