<div class="form-register is-flex-direction-column">
  <h1 class="has-text-centered title is-2 mt-2 has-text-info">
    {{ 'mainTitle' | translate }}
  </h1>
  <h2 class="has-text-centered title is-3 mt-3">
    {{ 'auth.connexion' | translate }}
  </h2>
  <a [routerLink]="[registerUrl]"> {{ 'auth.notRegistered' | translate }}</a>
  <form [formGroup]="form">
    <div class="input-label">
      <label for="email" class="label">{{ 'user.email' | translate }}</label>
      <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input type="text" pInputText id="email" formControlName="email" />
      </span>
    </div>
    <div class="input-label">
      <label for="password" class="label">{{
        'auth.password' | translate
      }}</label>
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input
          type="password"
          pInputText
          id="password"
          formControlName="password" />
      </span>
    </div>
    <div class="is-flex mt-3 is-justify-content-space-around width-20">
      <button
        pButton
        type="button"
        label="{{ 'cancel' | translate }}"
        class="p-button-secondary p-button-outlined"
        [routerLink]="['']"></button>

      <button
        pButton
        type="button"
        label="{{ 'auth.connexion' | translate }}"
        (click)="submit()"
        [disabled]="form.invalid"
        class="p-button p-button-outlined"></button>
    </div>
  </form>
</div>
