<div class="site-view" *ngIf="site">
  <h1 class="title has-text-centered">{{ site.name }}</h1>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="">
          <i class="{{ iconInformation }} mr-2"></i>Informations generales</span
        >
      </ng-template>
      <div class="is-flex is-flex-direction-column">
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconRouteNumber }} mr-1"></i>Nombre de voies :
          </span>
          {{ site.averageRouteNumber }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconExposition }} mr-1"></i>Exposition :
          </span>
          <span *ngFor="let expo of site.expositions" class="mr-1">{{
            expo.label
          }}</span>
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconRockType }} mr-1"></i>Type de rocher : </span
          >{{ site.rockType.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconMinLevel }} mr-1"></i>Niveau mini :
          </span>
          {{ site.minLevel.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconMaxLevel }} mr-1"></i>Niveau max :
          </span>
          {{ site.maxLevel.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconRouteHeight }} mr-1"></i> Hauteur des voies :
          </span>
          {{ site.averageRouteHeight }} metres
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconRoute }} mr-1"></i> Profil des voies :
          </span>

          <span *ngFor="let profile of site.routeProfiles" class="mr-1">{{
            profile.label
          }}</span>
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconEquipment }} mr-1"></i> Equipements :
          </span>
          {{ site.equipment.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconEngagement }} mr-1"></i> Engagement :
          </span>
          {{ site.engagement.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconApproachTime }} mr-1"></i> Temps d'approche :
          </span>
          {{ site.approachTime }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ iconApproachType }} mr-1"></i> Type d'approche :
          </span>
          {{ site.approachType.label }}
        </p>
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span (click)="showMapMainParking()">Localisation</span>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="subtitle">Region : {{ site.region.name }}</p>
        <p class="subtitle">Departement : {{ site.department.name }}</p>
        <app-map [mapOption]="mapOption"></app-map>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span (click)="showMapSecondaryParking()">Parking camion</span>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="subtitle">
          {{ site.network ? 'Reseau 4g ok' : 'Pas de reseau' }}
        </p>
        <p class="subtitle">
          {{ site.wc ? 'Toilette a proximite' : 'Pas de toilette' }}
        </p>
        <p class="subtitle">
          {{ site.water ? 'Eau potable a proximite' : 'Pas d eau potable' }}
        </p>
        <p class="subtitle">
          {{ site.river ? 'Riviere ou lac a proximite' : 'Pas de point d eau' }}
        </p>
        <div class="is-flex is-justify-content-center">
          <app-map [mapOption]="mapOption"></app-map>
        </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Secteurs</span>
      </ng-template>
      <p class="subtitle">Nombre de secteurs : {{ site.secteurs.length }}</p>
      <p class="subtitle" *ngFor="let secteur of site.secteurs; let i = index">
        Secteur {{ i + 1 }} : {{ secteur.name }}
      </p>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Voies</span>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Topo</span>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <a [routerLink]="[siteListUrl]" class="has-text-info"
          >Retour a la liste</a
        >
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <a [routerLink]="[siteEditUrl + site.id]" class="has-text-danger"
          >Editer</a
        >
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
