<div class="site-view" *ngIf="site">
  <h1 class="title has-text-centered">{{ site.name }}</h1>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Information generale</span>
      </ng-template>
      <div class="is-flex is-flex-direction-column">
        <p class="subtitle">Nombre de lignes : {{ site.averageRouteNumber }}</p>
        <p class="subtitle">
          Exposition :
          <span *ngFor="let expo of site.expositions" class="mr-1">{{
            expo.label
          }}</span>
        </p>
        <p class="subtitle">Type de rocher : {{ site.rockType.label }}</p>
        <p class="subtitle">
          Niveau mini : {{ site.minLevel.label }} -- Niveau max :
          {{ site.maxLevel.label }}
        </p>
        <p class="subtitle">
          Hauteur des voies : {{ site.averageRouteHeight }} metres
        </p>
        <p class="subtitle">
          Profil des voies :
          <span *ngFor="let profile of site.routeProfiles" class="mr-1">{{
            profile.label
          }}</span>
        </p>
        <p class="subtitle">
          Equipements : {{ site.equipment.label }} -- Engagement :
          {{ site.engagement.label }}
        </p>
        <p class="subtitle">
          Temps d'approche : {{ site.approachTime }} Type d'approche :
          {{ site.approachType.label }}
        </p>
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span (click)="showMapMainParking()">Localisation</span>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="subtitle">Region : {{ site.region.name }}</p>
        <p class="subtitle">Departement : {{ site.department.name }}</p>
        <app-map [mapOption]="mapOption"></app-map>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span (click)="showMapSecondaryParking()">Parking camion</span>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="subtitle">
          {{ site.network ? 'Reseau 4g ok' : 'Pas de reseau' }}
        </p>
        <p class="subtitle">
          {{ site.wc ? 'Toilette a proximite' : 'Pas de toilette' }}
        </p>
        <p class="subtitle">
          {{ site.water ? 'Eau potable a proximite' : 'Pas d eau potable' }}
        </p>
        <p class="subtitle">
          {{ site.river ? 'Riviere ou lac a proximite' : 'Pas de point d eau' }}
        </p>
        <div class="is-flex is-justify-content-center">
          <app-map [mapOption]="mapOption"></app-map>
        </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Secteurs</span>
      </ng-template>
      <p class="subtitle">Nombre de secteurs : {{ site.secteurs.length }}</p>
      <p class="subtitle" *ngFor="let secteur of site.secteurs; let i = index">
        Secteur {{ i + 1 }} : {{ secteur.name }}
      </p>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Voies</span>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Topo</span>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <a [routerLink]="[siteListUrl]" class="has-text-info"
          >Retour a la liste</a
        >
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <a [routerLink]="[siteEditUrl + site.id]" class="has-text-danger"
          >Editer</a
        >
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
