<div class="mt-4 user-view">
  <h1 class="title has-text-centered mt-3 p-3">Mon compte</h1>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header"> Information generale </ng-template>
      <div *ngIf="user">
        <div class="subtitle">
          <span class="has-text-info mr-2">Prenom :</span> {{ user.firstName }}
        </div>
        <div class="subtitle">
          <span class="has-text-info mr-2">Nom :</span>{{ user.lastName }}
        </div>
        <div class="subtitle">
          <span class="has-text-info mr-2">Email :</span>{{ user.email }}
        </div>
        <div class="subtitle">
          <span class="has-text-info mr-2">Date de naissance :</span
          >{{ user.birthday | date : 'dd/MM/yyyy' }}
        </div>
        <div class="">
          <button
            pButton
            type="button"
            icon="{{ iconEdit }}"
            label="Editer"
            iconPos="left"
            class="p-button-outlined p-button-danger"
            [routerLink]="[editUserUrl + user.id]"></button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header"> Mes contributions </ng-template>Content 3
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header"> Voies realisées </ng-template>Content 3
    </p-tabPanel>
    <p-tabPanel header="Administration" *ngIf="isAdmin">
      <ng-template pTemplate="header">
        <a class="has-text-danger" [routerLink]="[adminDashboardUrl]">
          <i class="{{ iconAdmin }} mr-2"></i>Administration</a
        >
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
