<p-dialog
  header="Changer votre mot de passe"
  [(visible)]="displayDialog"
  [style]="{ width: '40vw' }">
  <form [formGroup]="formNewPassword">
    <div class="input-label">
      <label for="oldPassword">Ancien mot de passe</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="password"
          pInputText
          id="oldPassword"
          [style]="{ width: '30vw' }"
          formControlName="oldPassword" />
      </span>
    </div>
    <div class="input-label">
      <label for="newPassword">Nouveau mot de passe</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="password"
          pInputText
          id="newPassword"
          [style]="{ width: '30vw' }"
          formControlName="newPassword" />
      </span>
    </div>
    <div class="input-label">
      <label for="confirmNewPassword">Confirmer nouveau mot de passe</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="password"
          pInputText
          id="confirmNewPassword"
          [style]="{ width: '30vw' }"
          formControlName="confirmNewPassword" />
      </span>
    </div>
    <p-button
      label="Valider"
      (click)="submitNewPassword()"
      [disabled]="formNewPassword.invalid"></p-button>
  </form>
</p-dialog>
<h1 class="title is-3 mt-5 has-text-centered">Edition du profil</h1>
<form [formGroup]="form">
  <div class="form-register">
    <div class="input-label">
      <label for="lastName" class="label">Nom</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          id="lastName"
          formControlName="lastName" />
      </span>
    </div>
    <div class="input-label">
      <label for="firstName" class="label">Prenom</label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          id="firstName"
          formControlName="firstName" />
      </span>
    </div>

    <div class="input-label">
      <label for="password" class="label"
        >Mot de passe
        <span
          ><button
            pButton
            type="button"
            label="(Modifer)"
            (click)="showDialog()"
            class="p-button-link p-0 ml-2"></button>
        </span>
      </label>
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="password"
          pInputText
          id="password"
          formControlName="password" />
      </span>
    </div>
    <div class="input-label">
      <label for="birthday" class="label">Date de naissance</label>
      <p-calendar
        id="birthday"
        [style]="{ minWidth: '20rem' }"
        formControlName="birthday"
        dateFormat="dd/mm/yy"
        [required]="true"></p-calendar>
    </div>
    <div class="is-flex mt-3 width-20 is-justify-content-space-between">
      <button
        pButton
        type="button"
        label="Annuler"
        class="p-button-secondary mr-2"
        [routerLink]="['']"></button>
      <p-button
        label="Valider"
        (click)="submit()"
        [disabled]="form.invalid"></p-button>
    </div>
  </div>
</form>
