<div class="site-view" *ngIf="route">
  <h1 class="title has-text-centered">{{ route.name }}</h1>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="">
          <i class="{{ ICON.INFORMATION }} mr-2"></i>Informations
          generales</span
        >
      </ng-template>
      <div class="is-flex is-flex-direction-column">
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.ROUTE_HEIGHT }} mr-1"></i>Hauteur :
          </span>
          {{ route.height }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.LEVEL }} mr-1"></i>Niveau :
          </span>
          {{ route.level.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.ROCK_TYPE }} mr-1"></i>Type de rocher :
          </span>
          {{ route.rockType.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.EXPOSITION }} mr-1"></i>Orientation :
          </span>
          {{ route.exposition.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.MIN_LEVEL }} mr-1"></i> Profil de la voie :
          </span>
          {{ route.routeProfile.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.EFFORT_TYPE }} mr-1"></i> Type d'effort :
          </span>
          {{ route.effortType ?? '---' }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.EQUIPMENT }} mr-1"></i>Equipement :
          </span>
          {{ route.equipment.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.ENGAGEMENT }} mr-1"></i> Engagement :
          </span>
          {{ route.engagement.label }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.QUICK_DRAW }} mr-1"></i>Degaines :
          </span>
          {{ route.quickdraw }}
        </p>
        <p class="subtitle">
          <span class="has-text-info">
            <i class="{{ ICON.COMMENTARY }} mr-1"></i>Commentaires :
          </span>
          {{ route.commentary }}
        </p>
      </div>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span> <i class="{{ ICON.SITE }} mr-2"></i>Site</span>
      </ng-template>
      <p class="subtitle">
        <span class="has-text-info">
          <i class="{{ ICON.SITE }} mr-1"></i>Site :
        </span>
        {{ route.sector.site.name }}
      </p>
      <p class="subtitle">
        <span class="has-text-info">
          <i class="{{ ICON.SECTOR }} mr-1"></i>Secteur :
        </span>
        {{ route.sector.name }}
      </p>
    </p-tabPanel>
    <p-tabPanel *ngIf="isAdmin">
      <ng-template pTemplate="header">
        <span> <i class="{{ ICON.VAN }} mr-2"></i>Topo</span>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel *ngIf="isAdmin">
      <ng-template pTemplate="header">
        <a [routerLink]="[routeEditUrl + route.id]" class="has-text-danger">
          <i class="{{ ICON.EDIT }} mr-2"></i>Editer</a
        >
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <a [routerLink]="[routeListUrl]" class="has-text-info">
          <i class="{{ ICON.VAN }} mr-2"></i>Retour a la liste</a
        >
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
