<div class="site-table">
  <h1 class="title has-text-centered has-text-info">
    {{ 'route.titleRouteList' | translate }}
  </h1>
  <div class="input-label is-align-items-center mb-4">
    <p-dropdown
      [options]="sites"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      (onChange)="onChangeSite($event)"
      *ngIf="sites.length > 0"
      placeholder=" {{ 'route.sortBySite' | translate }}"
      id="region"></p-dropdown>
  </div>
  <app-table-routes
    [routes]="filteredRoutes"
    *ngIf="filteredRoutes.length > 0"></app-table-routes>
</div>
