<div class="site-table">
  <h1 class="title has-text-centered has-text-info">Liste des voies</h1>
  <div class="input-label is-align-items-center mb-4">
    <!--  <label for="region" class="label">Trier par region</label>-->
    <p-dropdown
      [options]="sites"
      optionLabel="name"
      optionValue="id"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      (onChange)="onChangeSite($event)"
      *ngIf="sites.length > 0"
      placeholder="Trier par sites"
      id="region"></p-dropdown>
  </div>
  <p-table
    #dt
    [value]="filteredRoutes"
    [rows]="25"
    [paginator]="true"
    [rowsPerPageOptions]="[25, 50, 100]"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'vertical-align': 'center' }"
    [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="secteur.site.name">
          <i class="{{ iconSite }} mr-1"></i> Site
          <p-sortIcon field="secteur.site.name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          <i class="{{ iconRoute }} mr-1"></i> Nom de la voie
          <p-sortIcon field="name"></p-sortIcon>
        </th>

        <th pSortableColumn="secteur.name">
          <i class="{{ iconSector }} mr-1"></i> Secteur
          <p-sortIcon field="secteur.name"></p-sortIcon>
        </th>
        <th pSortableColumn="height">
          <i class="{{ iconRouteHeight }} mr-1"></i> Hauteur
          <p-sortIcon field="height"></p-sortIcon>
        </th>
        <th pSortableColumn="level.label">
          <i class="{{ iconMaxLevel }} mr-1"></i>Niveau
          <p-sortIcon field="level.label"></p-sortIcon>
        </th>
        <th pSortableColumn="exposition.label">
          <i class="{{ iconExposition }} mr-1"></i>Exposition
          <p-sortIcon field="maxLevel.label"></p-sortIcon>
        </th>

        <th pSortableColumn="createdAt">
          Date d'ajout
          <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th pSortableColumn="secteur.name" *ngIf="isLogged">Cochée</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            [showMenu]="false"
            [showClearButton]="false"
            field="secteur.site.name"
            matchMode="contains">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [ngModel]="value"
                  (ngModelChange)="filter($event)"
                  placeholder="Search" />
              </span>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            field="name"
            matchMode="contains"
            [showMenu]="false"
            [showClearButton]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [ngModel]="value"
                  (ngModelChange)="filter($event)"
                  placeholder="Search" />
              </span>
            </ng-template>
          </p-columnFilter>
        </th>

        <th>
          <p-columnFilter
            [showMenu]="false"
            [showClearButton]="false"
            field="secteur.name"
            matchMode="contains">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [ngModel]="value"
                  (ngModelChange)="filter($event)"
                  placeholder="Search" />
              </span>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            [showMenu]="false"
            [showClearButton]="false"
            field="height"
            matchMode="contains">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [ngModel]="value"
                  (ngModelChange)="filter($event)"
                  placeholder="Search" />
              </span>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            [showMenu]="false"
            [showClearButton]="false"
            field="level.label"
            matchMode="contains">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [ngModel]="value"
                  (ngModelChange)="filter($event)"
                  placeholder="Search" />
              </span>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            [showMenu]="false"
            [showClearButton]="false"
            field="exposition.label"
            matchMode="contains">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [ngModel]="value"
                  (ngModelChange)="filter($event)"
                  placeholder="Search" />
              </span>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            [showMenu]="false"
            [showClearButton]="false"
            field="createdAt"
            matchMode="contains">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback">
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [ngModel]="value"
                  (ngModelChange)="filter($event)"
                  placeholder="Search" />
              </span>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route>
      <tr>
        <td>
          <a [routerLink]="[siteViewUrl + route.sector.site.id]">{{
            route.sector.site.name
          }}</a>
        </td>
        <td>
          <a [routerLink]="[routeViewUrl + route.id]"> {{ route.name }}</a>
        </td>

        <td>{{ route.sector.name }}</td>
        <td>
          <span class="">{{ route.height }}</span>
        </td>
        <td>{{ route.level.label }}</td>

        <td>{{ route.exposition.label }}</td>
        <td>{{ route.createdAt | date : 'dd/MM/yyyy' }}</td>
        <td *ngIf="isLogged">
          <p-button styleClass="p-button-text"
            ><i
              class="{{
                isChecked(route.id)
                  ? 'fas fa-check-circle has-text-success'
                  : 'far fa-circle has-text-black'
              }} is-size-4"
              (click)="
                isChecked(route.id) ? alreadyChecked() : showDialog(route.id)
              "></i
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-notebook-form-dialog
  (isClose)="closeDialog()"
  (isSuccess)="reloadData()"
  [visible]="visible"
  [route]="selectedRoute"></app-notebook-form-dialog>
