<div class="mt-4 user-view">
  <h1 class="title has-text-centered mt-3 p-3 has-text-info">
    {{ 'admin.dashboard' | translate }}
  </h1>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        {{ 'admin.users' | translate }}
      </ng-template>
      <p-table
        #dt
        [value]="users"
        [rows]="25"
        [paginator]="true"
        [rowsPerPageOptions]="[25, 50, 100]"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'vertical-align': 'center' }"
        [loading]="loading">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              Id
              <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="lastName">
              {{ 'user.lastName' | translate }}
              <p-sortIcon field="averageRouteNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              {{ 'user.email' | translate }}
              <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="role">
              Role
              <p-sortIcon field="role"></p-sortIcon>
            </th>

            <th pSortableColumn="createdAt">
              {{ 'admin.memberSince' | translate }}
              <p-sortIcon field="createdAt"></p-sortIcon>
            </th>
            <th pSortableColumn="updatedAt">
              {{ 'admin.lastUpdate' | translate }}
              <p-sortIcon field="updatedAt"></p-sortIcon>
            </th>
            <th pSortableColumn="isActive">
              Status
              <p-sortIcon field="isActive"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th>
              <p-columnFilter
                field="id"
                matchMode="contains"
                [showMenu]="false"
                [showClearButton]="false">
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                      placeholder="Search" />
                  </span>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                [showMenu]="false"
                [showClearButton]="false"
                field="lastName"
                matchMode="contains">
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                      placeholder="Search" />
                  </span>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                [showMenu]="false"
                [showClearButton]="false"
                field="email"
                matchMode="contains">
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                      placeholder="Search" />
                  </span>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                [showMenu]="false"
                [showClearButton]="false"
                field="role"
                matchMode="contains">
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      [ngModel]="value"
                      (ngModelChange)="filter($event)"
                      placeholder="Search" />
                  </span>
                </ng-template>
              </p-columnFilter>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <a>{{ user.id }}</a>
            </td>

            <td>
              <span class="">{{ user.lastName }}</span>
            </td>
            <td>{{ user.email }}</td>
            <td
              class="{{
                user.role === USER_ROLE.ROLE_ADMIN
                  ? 'has-text-danger'
                  : 'has-text-success'
              }}">
              <span (click)="confirmEditRole(user.id)" class="has-text-black">
                <i class="{{ ICON.EDIT }} mr-1"></i>
              </span>
              {{ user.role }}
            </td>

            <td>
              {{ user.createdAt | date : 'dd/MM/yyyy' }}
            </td>
            <td>
              <span class="">
                {{
                  user.updatedAt
                    ? (user.updatedAt | date : 'dd/MM/yyyy')
                    : '-----'
                }}</span
              >
            </td>
            <td>
              <button
                pButton
                (click)="confirmToggleUserStatus(user.id)"
                label="{{
                  user.isActive
                    ? ('admin.active' | translate)
                    : ('admin.notActive' | translate)
                }}"
                class="p-button-outlined p-button-text p-button-secondary {{
                  user.isActive ? 'has-text-success' : 'has-text-danger'
                }}">
                <i
                  class="{{
                    user.isActive ? ICON.LOCK : ICON.UNLOCK
                  }} mr-2"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header"
        >{{ 'navbar.sites' | translate }}
      </ng-template>
      <app-table-site
        [sites]="sites"
        [options]="sitesOptions"
        (selectedSite)="confirmToggleSiteStatus($event)"></app-table-site>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        {{ 'navbar.routes' | translate }}
      </ng-template>
      <app-table-routes
        [routes]="filteredRoutes"
        [options]="sitesOptions"
        (selectedRoute)="confirmToggleRouteStatus($event)"></app-table-routes>
    </p-tabPanel>
    <p-tabPanel header="Administration">
      <ng-template pTemplate="header">
        <a class="has-text-danger"> Topo </a>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
