.container-input-flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin:1rem auto
}
.container-geoloc-flex{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin:1rem auto;
}