<p-dialog
  header="{{ dialogMapHeader }}"
  [(visible)]="displayMap"
  *ngIf="displayMap">
  <app-map
    (coordinates)="addCoordinates($event)"
    [mapOption]="mapOptions"></app-map>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Valider localisation"
      class="p-button-icon mt-2"
      (click)="validate(selectedParking)"></button>
  </ng-template>
</p-dialog>
<h1 class="has-text-centered title mt-5">{{ title }}</h1>
<form [formGroup]="form">
  <div class="form-register">
    <div class="container-input-flex">
      <div class="input-label">
        <label for="exposition" class="label">Exposition </label>
        <p-multiSelect
          [options]="expositions"
          optionLabel="label"
          placeholder="Expositions"
          formControlName="expositions"
          id="exposition"></p-multiSelect>
      </div>
      <div class="input-label">
        <label for="lastName" class="label">Nom du site</label>
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input type="text" pInputText id="lastName" formControlName="name" />
        </span>
      </div>
      <div class="input-label">
        <label for="routeProfiles" class="label">Type de voies </label>
        <p-multiSelect
          [options]="routeProfiles"
          optionLabel="label"
          placeholder="Type de voies"
          formControlName="routeProfiles"
          id="routeProfiles"></p-multiSelect>
      </div>
    </div>
    <div class="container-input-flex">
      <div class="input-label">
        <label for="minLevel" class="label">Niveau mini </label>
        <p-dropdown
          [options]="levels"
          optionLabel="label"
          placeholder="Niveau mini"
          formControlName="minLevel"
          id="minLevel"></p-dropdown>
      </div>
      <div class="input-label">
        <label for="maxLevel" class="label">Niveau maxi </label>
        <p-dropdown
          [options]="levels"
          optionLabel="label"
          formControlName="maxLevel"
          placeholder="Niveau maxi"
          id="maxLevel"></p-dropdown>
      </div>
      <div class="input-label">
        <label for="rockType" class="label">Type de rocher </label>
        <p-dropdown
          [options]="rockTypes"
          optionLabel="label"
          placeholder="Type de rocher"
          formControlName="rockType"
          id="rockType"></p-dropdown>
      </div>
    </div>
    <div class="container-input-flex">
      <div class="input-label">
        <label for="equipments" class="label">Equipement </label>
        <p-dropdown
          [options]="equipments"
          optionLabel="label"
          formControlName="equipment"
          placeholder="Equipement"
          id="equipments"></p-dropdown>
      </div>
      <div class="input-label">
        <label for="engagements" class="label">Engagement </label>
        <p-dropdown
          [options]="engagements"
          optionLabel="label"
          formControlName="engagement"
          placeholder="Engagement"
          id="engagements"></p-dropdown>
      </div>
      <div class="input-label">
        <label for="approachTypes" class="label">Type d'approche </label>
        <p-dropdown
          [options]="approachTypes"
          optionLabel="label"
          formControlName="approachType"
          placeholder="Approche"
          id="approachTypes"></p-dropdown>
      </div>
    </div>

    <div class="container-input-flex">
      <div class="input-label">
        <label for="averageRouteNumber" class="label">Nombre de voies</label>

        <p-inputNumber
          id="averageRouteNumber"
          [showButtons]="true"
          formControlName="averageRouteNumber"></p-inputNumber>
      </div>

      <div class="input-label">
        <label for="approachTime" class="label">Temps d'approche </label>

        <p-inputNumber
          id="approachTime"
          [showButtons]="true"
          suffix=" minute"
          formControlName="approachTime"></p-inputNumber>
      </div>

      <div class="input-label">
        <label for="averageRouteHeight" class="label"
          >Hauteur moyenne des voies</label
        >
        <p-inputNumber
          id="averageRouteHeight"
          [showButtons]="true"
          suffix=" metre"
          formControlName="averageRouteHeight"></p-inputNumber>
      </div>
    </div>

    <div class="container-input-flex">
      <div class="input-label">
        <label for="region" class="label">Region</label>
        <p-dropdown
          [options]="regions"
          optionLabel="name"
          (onChange)="onChangeRegion($event)"
          formControlName="region"
          placeholder="Choisir la region"
          id="region"></p-dropdown>
      </div>
      <div class="input-label">
        <label for="department" class="label">Departement</label>
        <p-dropdown
          [options]="departments"
          optionLabel="name"
          formControlName="department"
          (onChange)="onChangeDepartment($event)"
          placeholder="Choisir le departement"
          id="department"></p-dropdown>
      </div>
      <div class="input-label width-20">
        <button
          *ngIf="showMainParking"
          pButton
          type="button"
          label="{{ dialogMapHeader }}  1"
          icon="pi pi-search"
          iconPos="right"
          (click)="chooseLocalisation(1)"
          class="p-button-text"></button>
        <p *ngIf="coordinateP1.length > 0 && displayP1">
          <span class="has-text-info">Latitude :</span>{{ coordinateP1[0] }}
          <br />
          <span class="has-text-info">Longitude :</span>{{ coordinateP1[1] }}
        </p>
      </div>
    </div>
    <div class="container-input-flex">
      <div class="input-label">
        <label for="water">Eau potable</label>
        <p-inputSwitch
          formControlName="water"
          id="water"
          class="mt-2"></p-inputSwitch>
      </div>
      <div class="input-label">
        <label for="network">Reseau 4G</label>
        <p-inputSwitch
          formControlName="network"
          id="network"
          class="mt-2"></p-inputSwitch>
      </div>
      <div class="input-label">
        <label for="wc">Toilettes</label>
        <p-inputSwitch
          formControlName="wc"
          id="wc"
          class="mt-2"></p-inputSwitch>
      </div>
      <div class="input-label">
        <label for="river">Eau a proximite</label>
        <p-inputSwitch
          formControlName="river"
          id="river"
          class="mt-2"></p-inputSwitch>
      </div>

      <div class="input-label width-20">
        <button
          pButton
          *ngIf="showSecondaryParking"
          type="button"
          label="{{ dialogMapHeader }} 2"
          icon="pi pi-search"
          iconPos="right"
          (click)="chooseLocalisation(2)"
          class="p-button-text"></button>
        <p *ngIf="coordinateP2.length > 0 && displayP2">
          <span class="has-text-info">Latitude :</span>{{ coordinateP2[0] }}
          <br />
          <span class="has-text-info">Longitude :</span>{{ coordinateP2[1] }}
        </p>
      </div>
    </div>
    <div class="is-flex is-flex-direction-column">
      <h3 class="subtitle has-text-info has-text-centered">Secteurs</h3>
      <ng-container formArrayName="sectorArray">
        <div
          class="input-label"
          *ngFor="let sector of sectorArray.controls; let i = index"
          [formGroupName]="i">
          <label for="secteur-{{ i }}">Secteur n°{{ i + 1 }}</label>
          <input
            type="text"
            pInputText
            formControlName="name"
            id="secteur-{{ i }}" />
        </div>
        <div class="is-flex is-justify-content-center">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            [disabled]="sectorArray.invalid"
            (click)="addNewSector()"
            iconPos="left"></button>
        </div>
      </ng-container>
    </div>
    <div class="is-flex mt-3 width-20 is-justify-content-space-between mb-3">
      <button
        pButton
        type="button"
        label="Annuler"
        class="p-button-secondary mr-2"
        [routerLink]="['']"></button>
      <p-button
        label="Valider"
        (click)="submit()"
        [disabled]="formIsInvalid()"></p-button>
    </div>
  </div>
</form>
