<p-dialog
  header="{{ dialogMapHeader }}"
  [(visible)]="displayMap"
  *ngIf="displayMap">
  <app-map
    (coordinates)="addCoordinates($event)"
    [mapOption]="mapOptions"></app-map>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Valider localisation"
      class="p-button-icon mt-2"
      (click)="validate(selectedParking)"></button>
  </ng-template>
</p-dialog>
<h1 class="has-text-centered title mt-5">{{ title }}</h1>
<form [formGroup]="form">
  <div class="form-register">
    <div class="input-label">
      <label for="lastName" class="label">
        <span class="has-text-info">
          <i class="{{ iconSite }} mr-1"></i>Nom du site :
        </span></label
      >
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" pInputText id="lastName" formControlName="name" />
      </span>
    </div>

    <div class="wrapper-input">
      <div class="input-label">
        <label for="exposition" class="label">
          <span class="has-text-info">
            <i class="{{ iconExposition }} mr-1"></i>Exposition :
          </span>
        </label>
        <p-multiSelect
          [options]="expositions"
          optionLabel="label"
          id="exposition"
          placeholder="-- Expositions -- "
          formControlName="expositions"
          inputId="exposition"></p-multiSelect>
      </div>
      <div class="input-label">
        <label for="routeProfiles" class="label">
          <span class="has-text-info">
            <i class="{{ iconRoute }} mr-1"></i>Type de voies :
          </span>
        </label>
        <p-multiSelect
          [options]="routeProfiles"
          optionLabel="label"
          id="routeProfiles"
          placeholder="-- Type de voies -- "
          formControlName="routeProfiles"
          inputId="routeProfiles"></p-multiSelect>
      </div>
      <div class="input-label">
        <label for="minLevel" class="label">
          <span class="has-text-info">
            <i class="{{ iconMinLevel }} mr-1"></i> Niveau mini :
          </span>
        </label>
        <p-dropdown
          [options]="levels"
          optionLabel="label"
          id="minLevel"
          placeholder="-- Niveau mini -- "
          formControlName="minLevel"
          inputId="minLevel"></p-dropdown>
      </div>
      <div class="input-label">
        <label for="maxLevel" class="label">
          <span class="has-text-info">
            <i class="{{ iconMaxLevel }} mr-1"></i> Niveau maxi :
          </span>
        </label>
        <p-dropdown
          [options]="levels"
          optionLabel="label"
          id="maxLevel"
          formControlName="maxLevel"
          placeholder="-- Niveau maxi --"
          inputId="maxLevel"></p-dropdown>
      </div>
    </div>

    <div class="input-label">
      <label for="rockType" class="label">
        <span class="has-text-info">
          <i class="{{ iconRockType }} mr-1"></i> Type de rocher :
        </span>
      </label>
      <p-dropdown
        [options]="rockTypes"
        optionLabel="label"
        id="rockType"
        placeholder="-- Type de rocher -- "
        formControlName="rockType"
        inputId="rockType"></p-dropdown>
    </div>
    <div class="input-label">
      <label for="equipments" class="label">
        <span class="has-text-info">
          <i class="{{ iconEquipment }} mr-1"></i> Equipement :
        </span>
      </label>
      <p-dropdown
        [options]="equipments"
        optionLabel="label"
        id="equipments"
        formControlName="equipment"
        placeholder="-- Equipement --"
        inputId="equipments"></p-dropdown>
    </div>
    <div class="input-label">
      <label for="engagements" class="label"
        ><span class="has-text-info">
          <i class="{{ iconEngagement }} mr-1"></i> Engagement :
        </span>
      </label>
      <p-dropdown
        [options]="engagements"
        optionLabel="label"
        id="engagements"
        formControlName="engagement"
        placeholder="-- Engagement --"
        inputId="engagements"></p-dropdown>
    </div>
    <div class="input-label">
      <label for="approachTypes" class="label"
        ><span class="has-text-info">
          <i class="{{ iconApproachType }} mr-1"></i>Type d'approche :
        </span>
      </label>
      <p-dropdown
        [options]="approachTypes"
        optionLabel="label"
        id="approachTypes"
        formControlName="approachType"
        placeholder="-- Approche --"
        inputId="approachTypes"></p-dropdown>
    </div>
    <div class="input-label">
      <label for="routeFoots" class="label"
        ><span class="has-text-info">
          <i class="{{ iconApproachType }} mr-1"></i>Pied des voies :
        </span>
      </label>
      <p-dropdown
        [options]="routeFoots"
        optionLabel="label"
        id="routeFoots"
        formControlName="routeFoot"
        optionValue="id"
        placeholder="-- Pied des voies --"
        inputId="routeFoots"></p-dropdown>
    </div>
    <div class="wrapper-input">
      <div class="input-label">
        <label for="averageRouteNumber" class="label">
          <span class="has-text-info">
            <i class="{{ iconRouteNumber }} mr-1"></i>Nombre de voies :
          </span>
        </label>

        <p-inputNumber
          id="averageRouteNumber"
          [showButtons]="true"
          [step]="10"
          formControlName="averageRouteNumber"></p-inputNumber>
      </div>

      <div class="input-label">
        <label for="approachTime" class="label"
          ><span class="has-text-info">
            <i class="{{ iconApproachTime }} mr-1"></i>Temps d'approche :
          </span>
        </label>

        <p-inputNumber
          id="approachTime"
          [showButtons]="true"
          [step]="5"
          suffix=" minute"
          formControlName="approachTime"></p-inputNumber>
      </div>
    </div>

    <div class="input-label">
      <label for="averageRouteHeight" class="label"
        ><span class="has-text-info">
          <i class="{{ iconRouteHeight }} mr-1"></i>Hauteur moyenne des voies :
        </span></label
      >
      <p-inputNumber
        id="averageRouteHeight"
        [showButtons]="true"
        [step]="10"
        suffix=" mètres"
        formControlName="averageRouteHeight"></p-inputNumber>
    </div>
    <fieldset>
      <legend class="sr-only">Localisation</legend>
      <div class="input-label">
        <label for="region" class="label"
          ><span class="has-text-info">
            <i class="{{ iconRegion }} mr-1"></i>Région :
          </span></label
        >
        <p-dropdown
          [options]="regions"
          optionLabel="name"
          (onChange)="onChangeRegion($event)"
          formControlName="region"
          placeholder="-- Choisir la region -- "
          id="region"></p-dropdown>
      </div>
      <div class="input-label">
        <label for="department" class="label"
          ><span class="has-text-info">
            <i class="{{ iconDepartment }} mr-1"></i>Département :
          </span></label
        >
        <p-dropdown
          [options]="departments"
          optionLabel="name"
          formControlName="department"
          (onChange)="onChangeDepartment()"
          placeholder="-- Choisir le département -- "
          optionValue="id"
          inputId="department"></p-dropdown>
      </div>
      <div class="wrapper-localisation">
        <button
          *ngIf="showMainParking"
          pButton
          type="button"
          label="Définir le {{ dialogMapHeader }} du site"
          icon="pi pi-search"
          iconPos="right"
          (click)="chooseLocalisation(1)"
          class="p-button p-button-outlined"></button>
        <p *ngIf="coordinateP1.length > 0 && displayP1">
          <span
            ><span class="has-text-info">Latitude: </span
            >{{ coordinateP1[0] | number }}</span
          >
          <span
            ><span class="has-text-info">Longitude: </span
            >{{ coordinateP1[1] | number }}
          </span>
        </p>

        <div
          *ngIf="displayP1"
          class="is-flex is-justify-content-space-between w-100">
          <div class="switch-label label">
            <label for="water"
              ><span class="has-text-info">
                <i class="{{ iconWater }} mr-1"></i>Eau potable :
              </span></label
            >
            <p-inputSwitch
              formControlName="water"
              inputId="water"></p-inputSwitch>
          </div>
          <div class="switch-label label">
            <label for="network"
              ><span class="has-text-info ml-3">
                <i class="{{ iconNetwork }} mr-1"></i>Réseau 4G :
              </span></label
            >
            <p-inputSwitch
              formControlName="network"
              inputId="network"></p-inputSwitch>
          </div>
        </div>
        <div
          *ngIf="displayP1"
          class="is-flex is-justify-content-space-between w-100">
          <div class="switch-label label">
            <label for="wc"
              ><span class="has-text-info">
                <i class="{{ iconWc }} mr-1"></i>Toilettes :
              </span></label
            >
            <p-inputSwitch formControlName="wc" inputId="wc"></p-inputSwitch>
          </div>
          <div class="switch-label label">
            <label for="river"
              ><span class="has-text-info ml-3">
                <i class="{{ iconRiver }} mr-1"></i>Eau à proximité :
              </span></label
            >
            <p-inputSwitch
              formControlName="river"
              inputId="river"></p-inputSwitch>
          </div>
        </div>
      </div>
      <div class="wrapper-localisation">
        <button
          pButton
          *ngIf="showSecondaryParking"
          type="button"
          label="Définir le {{ dialogMapHeader }} pour la nuit"
          icon="pi pi-search"
          iconPos="right"
          (click)="chooseLocalisation(2)"
          class="p-button p-button-outlined"></button>
        <p *ngIf="coordinateP2.length > 0 && displayP2">
          <span class="has-text-info">Latitude: </span
          >{{ coordinateP2[0] | number }}
          <span class="has-text-info">Longitude: </span
          >{{ coordinateP2[1] | number }}
        </p>
      </div>
    </fieldset>
    <div class="is-flex is-flex-direction-column w-100 mt-2">
      <h3 class="subtitle has-text-black has-text-centered mb-1">Secteurs</h3>
      <ng-container formArrayName="sectorArray">
        <div
          class="input-label"
          *ngFor="let sector of sectorArray.controls; let i = index"
          [formGroupName]="i">
          <label for="secteur-{{ i }}" class="has-text-info label"
            >Secteur n°{{ i + 1 }}
          </label>
          <div class="wrapper-sector">
            <input
              type="text"
              pInputText
              formControlName="name"
              id="secteur-{{ i }}" />
            <button
              pButton
              type="button"
              class="p-button p-button-outlined"
              icon="pi pi-plus"
              [disabled]="sectorArray.invalid"
              (click)="addNewSector()"
              iconPos="left"></button>
            <button
              *ngIf="i > 0"
              pButton
              type="button"
              class="p-button p-button-outlined"
              icon="pi pi-minus"
              [disabled]="sectorArray.invalid"
              (click)="removeSector(i)"
              iconPos="left"></button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="is-flex mt-4 width-20 is-justify-content-space-between mb-3">
      <button
        pButton
        type="button"
        label="Annuler"
        class="p-button-secondary p-button-outlined"
        [routerLink]="['']"></button>
      <button
        pButton
        type="submit"
        label="Valider"
        (click)="submit()"
        [disabled]="formIsInvalid()"
        class="p-button p-button-outlined"></button>
    </div>
  </div>
</form>
