<p-menubar [model]="items">
  <ng-template pTemplate="start"> </ng-template>
  <ng-template pTemplate="end">
    <button
      pButton
      pRipple
      *ngIf="!isLogged"
      type="button"
      icon="{{ ICON.LOGIN }}"
      [routerLink]="[loginUrl]"
      class="p-button p-button-rounded p-button-outlined"></button>
    <button
      pButton
      pRipple
      *ngIf="isLogged"
      type="button"
      [routerLink]="[userProfileUrl]"
      icon="{{ ICON.USER }}"
      class="p-button-info p-button-rounded p-button-outlined mr-2"></button>
    <button
      pButton
      pRipple
      *ngIf="isLogged"
      type="button"
      icon="{{ ICON.LOGIN }}"
      (click)="logout()"
      class="p-button-danger p-button-rounded p-button-outlined"></button>
    <button
      pButton
      pRipple
      type="button"
      icon="{{ ICON.LANGUAGE }}"
      (click)="switchLanguage()"
      class="p-button p-button-rounded p-button-outlined ml-2"></button
  ></ng-template>
</p-menubar>
